<div id="logos-div" style="height: 60px; padding-right:17px;padding-left:17px;border-bottom: 1px black solid; background-color: white">
  <div class="float-left"><img src="assets/images/WIS_logo_wis_logo_eng_v1_black_28px.png" style="padding-top: 15px; padding-bottom: 10px;"></div>
  <div class="float-right"><img src="assets/images/13481_INCPM_logo4_rgb_50px.png" style="padding: 2px 0px;"/></div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark " id="menu">
  <a routerLink="/" class="navbar-brand">Instrument-Logs</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/new-issue">New Issue</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>
    </ul>
  </div>
</nav>
