@import "~bootstrap/dist/css/bootstrap.css";
/* You can add global styles to this file, and also import other style files */
#main-div {
  margin: 0 auto;
  width: 1000px;
  min-height: 100%;
  box-shadow: dodgerblue;
}
.main-shadow{
  box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.5)
}
html,body,#main-div{
  min-height: 100vh;
}
