
.main-shadow{
  /*box-shadow: 0px 6px 20px -2px rgba(0,0,0,0.5)*/
  height: 100%;
  box-shadow:0 0 15px black;
  margin: 0 auto;
  width: 1000px;
  /*background-image: url("images/login_back4.jpg");*/
}

.my-container {
  /*border: 1px solid black;*/
  padding: 20px 35px;
}
.first-row {
  /*border: 1px solid black;*/
  text-align: left;
}
.second-row {
  /*border: 1px solid black;*/
  margin-top: 5px;
  text-align: left;
}
.third-row {
  /*border: 1px solid black;*/
  margin-top: 10px;
  text-align: left;
}
.forth-row {
  margin-top: 10px;
}
.fifth-row {
  /*border: 1px solid black;*/
}
.six-row {
  /*border: 1px solid black;*/
}
.Title {
  /*border: 1px solid black;*/
  text-decoration-line: underline;
}
.MS {
  /*border: 1px solid black;*/
  text-align: right;
}
.LC {
  /*border: 1px solid black;*/
  text-align: left;
}
.Instrument_Select, #issue_type {
  /*border: 1px solid black;*/
  width: 45%;
}
.CheckBox {
  /*border: 1px solid black;*/
  margin-top: 15px;
  margin-left: 10px;
}
#MS2, #PSM, #Peptides, #Proteins, #PPM{
  width: 70px;
  height: 22px;
  margin-left: 7px;
}

#Trap_column_text, #Analytical_column_text, #replace_other, #fault_other_text, #clean_other_text, #calibrate_Fail_text,
#nameField, #PPMtext {
  width: 200px;
  height: 22px;
  margin-left: 7px;
}
#LC_Replace_number {
  width: 50px;
  height: 22px;
  margin-left: 7px;
}
.submit {
  /*border: 1px solid black;*/
  text-align: left;
  margin-top: 10px;
}
li {
  list-style-type: none;
}
